body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
  
}

header {
   
    background-color: #fbcd4e;
    color: white;
    text-align: center;
    padding: 1em;
}

.summary-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fbcd4e;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
  


 
  
  .button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(0,0,0,0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-81:hover {
    background-color: #fbcd4e;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .button-81 {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }

  /* Style for the box container */
.box {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the select box */
.box select {
  width: 200px; /* Set your desired width */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0; /* Initial background color */
  color: #333; /* Initial text color */
  transition: background-color 0.3s, color 0.3s; /* Transition effect for smooth color change */
}

/* Change background and text color on hover */
.box select:hover {
  background-color: #ddd; /* Hover background color */
  color: #555; /* Hover text color */
}

    